<!DOCTYPE html>
<html>
<head>
    <title>Master Document Register</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="header">
    MASTER DOCUMENT REGISTER
</div>

<div class="content">

<h2>Add New Document</h2>

<form action="/mdr" method="POST">

<input type="text" name="docNo" placeholder="Document Number" required><br><br>

<input type="text" name="title" placeholder="Document Title" required><br><br>

<input type="text" name="discipline" placeholder="Discipline" required><br><br>

<input type="text" name="revision" placeholder="Revision" required><br><br>

<input type="text" name="status" placeholder="Status" required><br><br>

<button type="submit">Save Document</button>

</form>

</div>

</body>
</html>